<div align = center>
<br>
<br>
<div class="container" align = center>
<div *ngIf="isLoggedIn; else loggedOut" align = center>
  Logged in as {{roles}}.  
<br>
<p style="font-family: poppins; font-size: 25px;">
  A. S. M. Radwan
</p>
<table align = center>
  <div align=center> 
            <div class="profile-menu" align=center>            
              <div class="profile-picture small-profile-picture" align = center>
                  <img width="140px" src="./../../assets/user-icon-png-pnglogocom.png">             
              </div>            
          </div>
              <ul align=center>
                  <li  style="display: inline;"  align=center>
                      <a    href="#1"  style="display: inline;"  align=center><span class="icon entypo-cog scnd-font-color"  style="display: inline;"  align=center></span>Settings</a>
                  </li> &nbsp;
                  <li  style="display: inline;"  align=center>
                      <a    href="#2"  style="display: inline;"  align=center><span class="icon fontawesome-user scnd-font-color"  style="display: inline;"  align=center></span>Account</a>
                  </li > &nbsp;
                  <li  style="display: inline;"  align=center>
                      <a    href="#3"  style="display: inline;"  align=center><span class="icon fontawesome-envelope scnd-font-color"  style="display: inline;"  align=center></span>My Blogs</a>
                  </li> &nbsp;
                  <li  style="display: inline;"  align=center>
                      <a    href="#5"  style="display: inline;"  align=center><span class="icon fontawesome-star-empty scnd-font-color"  style="display: inline;"  align=center></span>Favorites</a>
                  </li>
              </ul>  
      </div>
</table>
</div>
<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:350px;">
    <img src=".././././../assets/download.png" style="opacity: 80%;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="usernameOrEmail">Username</label>
        <input type="text" class="form-control" name="usernameOrEmail" [(ngModel)]="form.usernameOrEmail" #usernameOrEmail="ngModel"
          required />
        <div *ngIf="f.submitted && usernameOrEmail.invalid">
          <div *ngIf="usernameOrEmail.errors?.['required']" style="color: brown; font-style: italic; font-size: 13px;">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors?.['required']" style="color: brown; font-style: italic; font-size: 13px;">Password is required</div>
          <div *ngIf="password.errors?.['minlength']" style="color: brown; font-style: italic; font-size: 13px;">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group" style="padding-top: 20px;">
        <button class="btn btn-primary" >LOGIN</button>
        <!-- <button class="btn btn-primary"  click="attemptAuth()">attemptAuth</button> -->
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <hr />
    <p>Don't have an account?</p>
    <a href="signup" class="btn btn-success" >Sign Up</a >
  </div >
  <p style="padding-bottom: 20px;"><br></p>
</ng-template>
</div>
</div>