<div class="container" align = center>

<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.  

<table>
  <div>
    <body>

      <div class="main-container">

          <header class="block">
              <ul class="header-menu horizontal-list">
                  <li>
                      <a class="header-menu-tab" href="#1"><span class="icon entypo-cog scnd-font-color"></span>Settings</a>
                  </li>
                  <li>
                      <a class="header-menu-tab" href="#2"><span class="icon fontawesome-user scnd-font-color"></span>Account</a>
                  </li>
                  <li>
                      <a class="header-menu-tab" href="#3"><span class="icon fontawesome-envelope scnd-font-color"></span>My Blogs</a>
                  
                  </li>
                  <li>
                      <a class="header-menu-tab" href="#5"><span class="icon fontawesome-star-empty scnd-font-color"></span>Favorites</a>
                  </li>
              </ul>
              <div class="profile-menu">
                  <p>Me <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a></p>
                  <div class="profile-picture small-profile-picture">
                      <img width="40px" alt="Anne Hathaway picture" src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg">
                  </div>
              </div>
          </header>

           
      </div> <!-- end main-container -->
  </body>

  </div>
</table>
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:350px;">
    <img src=".././././../assets/download.png" style="opacity: 80%;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="usernameOrEmail">Username</label>
        <input type="text" class="form-control" name="usernameOrEmail" [(ngModel)]="form.usernameOrEmail" #usernameOrEmail="ngModel"
          required />
        <div *ngIf="f.submitted && usernameOrEmail.invalid">
          <div *ngIf="usernameOrEmail.errors?.['required']">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group" style="padding-top: 20px;">
        <button class="btn btn-primary" >LOGIN</button>

        <!-- <button class="btn btn-primary"  click="attemptAuth()">attemptAuth</button> -->
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <hr />
    <p>Don't have an account?</p>
    <a href="signup" class="btn btn-success" >Sign Up</a >
  </div >
  <p style="padding-bottom: 20px;"><br></p>
</ng-template>

</div>