
       
    <br>
        <br>    <br>    <br>    <br><div class="container" align = center>
   
 

            <h2  style="padding-top: 10px;">Contact Us</h2>
        <hr/>
                <div>
                    
                    <label  >Name</label>
                    <input type="text" placeholder="Enter your Name" >
                </div>

                <div >
                    <label >Email</label>
                    <input type="email" placeholder="Enter a valid email address">
                  </div>
                  <div >
                    <label >Message</label>
                    <textarea placeholder="" ></textarea>
                  </div>
                  <div  style="padding:20px;" >
                    <!-- <a href="#" ></a> -->
                    <button class="btn btn-secondary" >Submit</button>
                  </div>

           
   

      
</div>