<meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav class="navbar navbar-inverse" width=100%>
  <div class="container-fluid" width=100%>
    <div class="navbar-header" width=100%>

    </div>
    <!-- <table align="center" width=100%>
    <ul class="nav navbar-nav" routerLinkActive="active" style="display: inline;font-size: medium; font-family:poppins; color: rgba(34, 91, 156, 0.849);">
      <li class="nav-item"><a class="nav-link" routerLink="home" style="display: inline; font-size: medium; font-family:poppins; color: rgba(34, 91, 156, 0.849);">Home</a></li>
      <li *ngIf="authority === 'user'" class="nav-item" style="display: inline;">
        <a class="nav-link" routerLink="user" style="display: inline; font-size: medium; font-family:poppins; color: rgba(34, 91, 156, 0.849);">User Board</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li *ngIf="authority === 'pm'" class="nav-item">
        <a class="nav-link" routerLink="pm">PM Board</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/login" style="font-size: medium; font-family:poppins; color: rgba(34, 91, 156, 0.849); padding-bottom: 10px;">Login</a><br>
      </li>
    </ul> 
  </table> -->

  </div>
</nav>
<br>
<!-- <div class="container" align = center> -->
  <router-outlet></router-outlet>
<!-- </div> -->



  <div  class="fixed-footer" align="center" style="width: 100%; left: 0; ">
    <span style="color: rgb(30, 101, 163);">Developed & Maintained by: <a href="https://www.erainfotechbd.com/" >ERA InfoTech Ltd. </a> &nbsp; All rights reserved 2021 @erainfotechbd </span>
  </div>
   

  <div class="fixed-header" style=" left: 0; height: 50px; padding-top: 0px; ">
    <table width="100%" style="background-origin: border-box;  height:45px; padding-top: 0px;" >
        <tr  >
          <td align="left"  >  <a href="home">
            <img src=".././././../assets/logo.png" style=" height:30px; padding-top: 10px; padding-left: 20px; "><img src="../assets/bloglogo.png" height="30px"  style=" padding-top: 10px; "> </a> 
          </td>
         
          
            <td style="padding-top: 9px;" >
              <input type="text" placeholder="Search.." style="padding:5px; ">
            </td>

         
           
        </tr>
        <tr style="height:5px;">
            <td>   
     
 <nav class="nav">
  <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
  <label class="nav__trigger-finger" for="trigger">
    <span></span>
  </label>
  <ul class="nav__list">
    <li class="nav__item">
      <a href="home" class="nav__link">
        <span class="nav__text">
         Home Page
        </span>
      </a>
    </li>
    <li class="nav__item">
      <a href="auth/login" class="nav__link">
        <span class="nav__text">
        User Profile
        </span>
      </a>
      <input class="nav__submenu-trigger-input" type="checkbox" id="submenu-trigger" />
      <label class="nav__submenu-trigger-finger" for="submenu-trigger"></label>
      <ul class="nav__list-child">
        <li class="nav__item">
          <a href="auth/login" class="nav__link">
            <span class="nav__text">
             Login Page
            </span>
          </a>
        </li>
        <li class="nav__item">
          <a href="signup" class="nav__link">
            <span class="nav__text">
             y Sign Up Page
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <a href="signup" class="nav__link">
        <span class="nav__text">
          New User?
        </span>
      </a>
    </li>
    <li class="nav__item">
      <a href="addpost" class="nav__link">
        <span class="nav__text">
          Post Blog
        </span>
      </a>
    </li>
    <li class="nav__item">
      <a href="contact" class="nav__link">
        <span class="nav__text">
          Contact
        </span>
      </a>
    </li>
    <li class="nav__item">
      <a href="#hoi" class="nav__link">
        <span class="nav__text">
          About Us
        </span>
      </a>
    </li>
  
  </ul>
</nav>

<main>

</main>
            </td>
        </tr>
        
    </table>
  </div>



