<nav class="navbar navbar-inverse" width=100%>
  <div class="container-fluid" width=100%>
    <div class="navbar-header" width=100%>
 <br><br>
    </div>
    <table align="center" width=100%>
    <ul class="nav navbar-nav" routerLinkActive="active" style="display: inline;font-size: medium; font-family:poppins; color: rgba(34, 91, 156, 0.849);">
      <li class="nav-item"><a class="nav-link" routerLink="home" style="display: inline; font-size: medium; font-family:poppins; color: rgba(34, 91, 156, 0.849);">Home</a></li>
      <li *ngIf="authority === 'user'" class="nav-item" style="display: inline;">
        <a class="nav-link" routerLink="user" style="display: inline; font-size: medium; font-family:poppins; color: rgba(34, 91, 156, 0.849);">User Board</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li *ngIf="authority === 'pm'" class="nav-item">
        <a class="nav-link" routerLink="pm">PM Board</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/login" style="font-size: medium; font-family:poppins; color: rgba(34, 91, 156, 0.849); padding-bottom: 10px;">Login</a><br>
      </li>
    </ul> 
  </table>
  <br>
  </div>
</nav>
<div class="container" align = center>
  <router-outlet></router-outlet>
</div>
<br>
<Br>
  <br>

  <div  class="fixed-footer" align="center" style="width: 100%; left: 0; ">
    <span style="color: rgb(30, 101, 163);">Developed & Maintained by: <a href="https://www.erainfotechbd.com/" >ERA InfoTech Ltd. </a> &nbsp; All rights reserved 2021 @erainfotechbd </span>
  </div>
   

  <div class="fixed-header" style=" left: 0; height: 70px;">
    <table width="100%" style="background-origin: border-box;">
        <tr  >
          
            <td >
              <p align="left" style="font-size: xx-large; padding-left: 20px; color: rgba(34, 91, 156, 0.849);">ERA BLOG APP</p>
            
            </td>
            <td align="right"  >  <img src=".././././../assets/logo.png" height="50px" style="opacity: 80%; padding-right: 20px;">
           </td>
        </tr>
        <tr style="height: 7px;">
            
        </tr>
        
    </table>
  </div>

