<div align = center>
  <br>
  <br>
<div class="container" align = center>
  <br>
<table width="100%">
  <tr>
    <td>
    <div  align=center>
<div class="modal-body"  this.showAdd = true;>
  <form [formGroup]= "formValue" style="position: static;">
    <img src=".././././../assets/download.png" style="opacity: 80%;">
      <table width="100%" align="center">       
          <tr  align="center" >
              <td >
                <div >                   
                    <input  type="int" formControlName="id"  (keydown.enter)="onKeyPress($event)" placeholder="Update Or View Details By Searching ID">
                    <label  >Post Title:</label>
                    <input type="text" formControlName="title"  placeholder="Enter Your Post Title"  >
                    <label  >Content:</label>
                    <input type="text" formControlName="content"  placeholder="Enter Your Post Content"  >
                  </div>
                  <div >
                      <label  >Post Description	</label>
                      <input type="text" formControlName="description" placeholder="Post Description">
                  </div>   
              </td>
          </tr>
      </table>
   </form>
</div>
</div>
</td>
</tr>
</table>
<br>
<div class="fixed-header">
  </div>
  <div width="100%" align="center">
    <button type="button"  class="btn btn-secondary"  onClick="window.location.reload();" style="display: inline;">Refresh</button> &nbsp;
    <button type="button" id = "cancel" class="btn btn-danger"  data-bs-dismiss="modal" (click)=" this.formValue.reset();  this.showAdd = true;
    this.showUpdate = false;"  style="display: inline;">Clear</button> &nbsp;
    <button type="button" *ngIf = "showAdd" (click) = "postDetails()" class="btn btn-success"   style="display: inline;">Post</button>
    <button type="button" *ngIf = "showUpdate" (click) = "updatepostDetails()" class="btn btn-primary" style="padding-left: 3px;"  style="display: inline;">Update</button>   
    </div>
<p style="padding-bottom: 20px;"><br>&nbsp;</p>  
</div>
</div>
<div align = center>
  <br><br>  
  <div class="container" align = center> 
  <div *ngIf="isPost; else signupForm">
    Your registration is successful. Please login!
  </div>  
  <ng-template #signupForm>
    <div class="row col-sm-6" style="max-width:350px;">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
        
          <img src=".././././../assets/download.png" style="opacity: 80%;">
          <bR>
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="form.title" #title="ngModel" required />
          <div *ngIf="f.submitted && title.invalid">
            <div *ngIf="title.errors?.['required']" style="font-size: 13px; color: brown; font-style: italic;">Title is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <input type="text" class="form-control" name="content" [(ngModel)]="form.content" #content="ngModel"
            required />
          <div *ngIf="f.submitted && content.invalid">
            <div *ngIf="content.errors?.['required']" style="font-size: 13px; color: brown; font-style: italic;">Content is required</div>
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required />
          <div *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors?.['required']" style="font-size: 13px; color: brown; font-style: italic;">Email is required</div>
            <div *ngIf="email.errors?.['email']" style="font-size: 13px; color: brown; font-style: italic;">Email must be a valid email address</div>
          </div>
        </div> -->
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="form.description" #description="ngModel"
            required />
          <div *ngIf="f.submitted && description.invalid">
            <div *ngIf="description.errors?.['required']" style="font-size: 13px; color: brown; font-style: italic;">Description is required</div>
            <!-- <div *ngIf="description.errors?.['minlength']" style="font-size: 13px; color: brown; font-style: italic;">Password must be at least 6 characters</div> -->
          </div>
        </div>
        <div class="form-group"  style="padding-top: 20px;">
          <button class="btn btn-primary">Post</button>
          <!-- <div *ngIf="f.submitted && isSignedUp" class="alert alert">
            Signup successful!<br/>
          </div>  -->
          <div *ngIf="f.submitted && isPostFailed" class="alert alert-warning">
            Post failed!<br/>{{errorMessage}}
          </div>
        </div>
      </form>
      <hr />
      <!-- <p>Do You Have Any Account?</p>
      <a href="/auth/login" class="btn btn-success" >Log In</a > -->
    </div >
    <p style="padding-bottom: 20px;"><br></p>
  </ng-template>
  </div>
  </div>