<!-- 
<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<table class="table mt-3" >
  <thead>
      <tr>
          <th scope="col"> ID</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">content</th>
      </tr>
  </thead>
  <tbody><tr *ngFor="let row of contentdata?.content">
      <td>{{row.id}}</td>
      <td>{{row.title}}</td>
      <td>{{row.description}}</td>
      <td>{{row.content}}</td>
  </tr>

  </tbody>
</table> -->

<!-- 

<table class="table mt-3" >
<thead>
    <tr>
        <th scope="col">Comment ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Body</th>
  

        
    </tr>
</thead>
<tbody><tr *ngFor="let row of lockerServiceData">
    <td>{{row.content[0].comments[0].id}}</td>
    <td>{{row.content[0].comments[0].name}}</td>
    <td>{{row.content[0].comments[0].email}}</td>
    <td>{{row.content[0].comments[0].body}}</td>

 
    <td>
     
    </td>
</tr>

</tbody>
</table> -->


<!-- <table class="table mt-3" >
<thead>
    <tr>
     
        <th scope="col">Page No</th>
        <th scope="col">Page Size</th>
        <th scope="col">Total Elements</th>
        <th scope="col">Total Pages</th>
        <th scope="col">Last</th>

        
    </tr>
</thead>
<tbody><tr *ngFor="let row of lockerServiceData">


    <td>{{row.pageNo}}</td>
    <td>{{row.pageSize}}</td>
    <td>{{row.totalElements}}</td>
    <td>{{row.totalPages}}</td>
    <td>{{row.last}}</td>

    <td>
      {{row.content[0].comments[0].id}} 
    </td>
</tr>

</tbody>
</table> -->

<ng-template #loggedOut>
  Please login.

  

</ng-template>

<table width="100%">
  <tr>
    <td>
      <div id="container" >  
        <header role="banner">  
            <h1>  
                <a href="/">A. S. M. Radwan</a>  
            </h1>  
        </header>  
        <nav>  
            <ul>  
                <!-- nav items -->  
            </ul>  
        </nav>  
        <div id="blog" class="hidden"> This App is For ERA_InfoTech Ltd. ERA-InfoTech Ltd -A Joint Venture IT Company formed by Bank Asia Ltd, Ranks ITT Ltd of Bangladesh and Sash Tech SG Pte. Ltd, Singapore. ERA commenced it’s journey on 11th November, 2002.
        </div>  
        <!-- blog -->  
        <article>  
            <header>  
                <h1>  
                    <a href="">ERA Blog App Making</a>  
                </h1>  
                <div class="postmeta">  
                    <time datetime="">January 17th, 2022 &nbsp; </time>  
                    <a href="y#comments" class="comments"> 0 Comments</a>  
                </div>  
            </header>  
            <!-- content -->  
            <aside class="comments" id="comments">  
                <!-- comments -->  
            </aside>  
            <!-- comments -->  
        </article>  
      </div>  
    </td>
    </tr>

