
<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>

  <br>
  
  <br>

  
  <br>
  
  <br>
  
  <br>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>
<!-- 
<table class="table mt-3" >
  <thead>
      <tr>
          <th scope="col"> ID</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">content</th>
      </tr>
  </thead>
  <tbody><tr *ngFor="let row of lockerServiceData?.content">
      <td>{{row.id}}</td>
      <td>{{row.title}}</td>
      <td>{{row.description}}</td>
      <td>{{row.content}}</td>
  </tr>

  </tbody>
</table> -->

<!-- 

<table class="table mt-3" >
<thead>
    <tr>
        <th scope="col">Comment ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Body</th>
  

        
    </tr>
</thead>
<tbody><tr *ngFor="let row of lockerServiceData">
    <td>{{row.content[0].comments[0].id}}</td>
    <td>{{row.content[0].comments[0].name}}</td>
    <td>{{row.content[0].comments[0].email}}</td>
    <td>{{row.content[0].comments[0].body}}</td>

 
    <td>
     
    </td>
</tr>

</tbody>
</table> -->


<!-- <table class="table mt-3" >
<thead>
    <tr>
     
        <th scope="col">Page No</th>
        <th scope="col">Page Size</th>
        <th scope="col">Total Elements</th>
        <th scope="col">Total Pages</th>
        <th scope="col">Last</th>

        
    </tr>
</thead>
<tbody><tr *ngFor="let row of lockerServiceData">


    <td>{{row.pageNo}}</td>
    <td>{{row.pageSize}}</td>
    <td>{{row.totalElements}}</td>
    <td>{{row.totalPages}}</td>
    <td>{{row.last}}</td>

    <td>
      {{row.content[0].comments[0].id}} 
    </td>
</tr>

</tbody>
</table> -->

<table width="80%" align="center" style="background-color: rgba(202, 253, 253, 0.152) ; padding-bottom: 50px; ">

    <br>
    <tr tr *ngFor="let row of lockerServiceData?.content">
      <td>
        <div id="container" >  
          <header role="banner">  
             
              <h1 style="padding-top: 0%;">  
                  <a href="/">{{row.id}}. &nbsp;{{row.title}}</a>  
              </h1>  
          </header>  
          <nav>  
              <ul>  
                  <!-- nav items -->  
              </ul>  
          </nav>  
          <time datetime="" style="padding-bottom: 0%; font-style: italic;">Posted On: January 18th, 2022 &nbsp; </time>  
          <div id="blog" class="hidden"> {{row.description}}</div>  
          <!-- blog -->  
          <article>  
              <header>  
                  <h1>  
                      <a href="">{{row.content}}</a>  
                  </h1>  

                  
                  <div id="myDIV">
                   
                  
                  <div class="postmeta">  
                       <details style="display: inline; size: 50px;">
                           <summary  >
                          Comments     
                           </summary>

                           
                          <table>
                            <tr>
                                <td style="font-size:18px; color: cornflowerblue; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                                    {{row.comments[0].name}}  &nbsp;
                                    <p style="display: inline; font-size: 13px; color: black; font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif;"> {{row.comments[0].email}}</p><br>
                                </td>
                            </tr>
                        </table>

                        <div style="background-color: rgba(220, 235, 219, 0.44); padding-bottom: 20px;">
                            {{row.comments[0].body}}
                            
                           </div>
                           <!-- <hr/> -->
          
                           <table>
                            <tr>
                                <td style="font-size:18px; color: cornflowerblue; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                                    {{row.comments[1].name}}  &nbsp;
                                    <p style="display: inline; font-size: 13px; color: black; font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif;"> {{row.comments[1].email}}</p><br>
                                </td>
                            </tr>
                        </table>

                        <div style="background-color: rgba(220, 235, 219, 0.44);">
                            {{row.comments[1].body}}
                            
                           </div>
                           

                               
                       
                          
                           <!-- <time align=right datetime="" style="font-size: small; font-style: oblique;">Commented On: January 18th, 2022 </time>   -->
                        
                       </details>
    
                      



                          <!-- <table>
                              <tr>
                                  <td style="font-style: italic; font-size: 13px;">
                                      Name:  {{row.comments[0].name}}<br>
                                      Email: {{row.comments[0].email}}<br>
                                  </td>
                              </tr>
                          </table> -->
               
                  </div>  
                  <hr/>


                  
                </div>
              </header>  
              <!-- content -->  
              <aside class="comments" id="comments">  
                  <!-- comments -->  
              </aside>  
              <!-- comments -->  
          </article>  
        </div>  
      </td>
      </tr>
      
  </table>

<ng-template #loggedOut>
    <!-- <div >


    <button class="btn btn-secondary">   <a align="right" >Login</a>
    </button>

     
    </div>
   -->

</ng-template>
